/**
 * @author Quentin Decre <quentin.decre@niji.fr>
 * @date: 03/10/13
 *
 * Description
 */

.guide{
  img{
    display: block;
    margin: 0 auto;
    height: 480px;
    width: 640px;
  }
}