/**
 * @author Layla ait laaraj <layla.aitllaraj@sage.com>
 *
 * Description
 */

.info-title {
	margin-bottom: 10px;
	color: #3d3e42;
	font-size: 18pt;
}

.info-text {
	color: #676767;
	font-size: 14pt;
	margin-bottom: 20px;
}

.info-content {
	width: 89%;
	float: none;
	padding-top: 20px;
	margin-left: 29px;
	text-align: justify;
}

.info-link {
	color: #47ab27;
	font-weight: bold;
	text-decoration: underline;
}