/**
 * @author Quentin Decre <quentin.decre@niji.fr>
 * @date 23/09/13
 *
 * Contains custom app variables
 */


// greens
$darkGreen: #007F64;
$lightGreen: #34B233;
$veryLightGreen: #DBECD7;
$linkGreen: #47AB27;

// greys
$grey1: #3D3E42;
$grey2: #4D4F53;
$grey3: #676767;
$grey4: #C8C8C8;
$grey5: #EDEDED;
$grey6: #F7F7F7;

//font-size
$font-size: 22px;
$font-family: Foco;